@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
#styleguide body {
  background-color: #fff;
}

.sg-pattern {
  padding: 100px 20px;
}

h3.sg-title {
  border-bottom: solid 1px #555;
  color: #555;
  margin-bottom: 20px;
  padding-bottom: 0.25em;
  line-height: 1em;
}

#styleguide .layout-content,
#styleguide .layout-sidebar-first,
#styleguide .layout-sidebar-second {
  background-color: #555;
  height: 250px;
  margin-bottom: 1em;
  color: #fff;
  padding: 20px 20px;
}

.color-palette ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-flow: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin: 1em 0;
  padding: 0;
}

.color-palette ul li {
  list-style: none;
  padding: 5px;
  margin: 10px;
  -webkit-box-flex: 1;
          flex: 1 1 auto;
  border: solid 1px #555;
  border-radius: 5px;
}

.color-palette ul li span {
  display: block;
  border: solid 1px #555;
  border-radius: 5px;
  height: 100px;
}

.color-palette .color-1 span {
  background-color: #d9534f;
}

.color-palette .color-2 span {
  background-color: #C2531A;
}

.color-palette .color-3 span {
  background-color: #f0ad4e;
}

.color-palette .color-4 span {
  background-color: #5cb85c;
}

.color-palette .color-5 span {
  background-color: #428bca;
}

.color-palette .color-6 span {
  background-color: #5bc0de;
}

.color-palette .color-7 span {
  background-color: #563d7c;
}

.messages {
  background: no-repeat 10px 17px;
  border: 1px solid;
  border-width: 1px 1px 1px 0;
  border-radius: 2px;
  padding: 15px 20px 15px 35px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-bottom: 1em;
}

.messages--status {
  color: #325e1c;
  background-color: #f3faef;
  border-color: #c9e1bd #c9e1bd #c9e1bd transparent;
  background-image: url(../images/styleguide/check.svg);
  box-shadow: -8px 0 0 #77b259;
}

.messages--warning {
  background-color: #fdf8ed;
  background-image: url(../images/styleguide/warning.svg);
  border-color: #f4daa6 #f4daa6 #f4daa6 transparent;
  color: #734c00;
  box-shadow: -8px 0 0 #e09600;
}

.messages--error {
  background-color: #fcf4f2;
  color: #a51b00;
  background-image: url(../images/styleguide/error.svg);
  border-color: #f9c9bf #f9c9bf #f9c9bf transparent;
  box-shadow: -8px 0 0 #e62600;
}

label {
  font-weight: bold;
  display: block;
}

.form-type-checkbox label,
.form-type-radio label {
  font-weight: normal;
  display: inline-block;
}

.form-item .description {
  font-style: italic;
}

.form-item {
  margin-bottom: 1em;
}

.form-item .form-item {
  margin-bottom: 0;
}

.container-inline div,
.container-inline label {
  display: inline;
}

legend {
  font-weight: bold;
}

fieldset .form-text {
  width: 100%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 4px 10px;
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
  margin-right: 0.3em;
}

input[type="search"] {
  -webkit-appearance: none;
  border-radius: 0;
}

.form-text, .form-textarea {
  border: 1px solid #555;
  padding: 4px;
}

button,
.form-submit,
.button,
.nested-button a {
  color: #fff !important;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: none;
  font-size: 0.85em;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px 30px;
  margin-right: 5px;
  display: inline-block;
  border-radius: 0;
  background-clip: padding-box;
  background-color: #428bca;
}

button:link, button:visited,
.form-submit:link,
.form-submit:visited,
.button:link,
.button:visited,
.nested-button a:link,
.nested-button a:visited {
  background-color: #428bca;
}

button:hover, button:focus, button:active,
.form-submit:hover,
.form-submit:focus,
.form-submit:active,
.button:hover,
.button:focus,
.button:active,
.nested-button a:hover,
.nested-button a:focus,
.nested-button a:active {
  background-color: #5697d0;
}

a.tabledrag-handle {
  height: 22px;
  width: 20px;
  display: inline-block;
}

a.tabledrag-handle .handle {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAaVBMVEUAAABERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERdclAKAAAAInRSTlMAAQIGBwkLDQ8QExQXIy5NUV9+hY+bwMHFyMrV5Ojx8/X7tyFtCQAAAHRJREFUCB1NwQcSgkAURMEHLqKE5ZOUrDv3P6SWUhTd/N3HGyfpqjXlEC2SlohD3qjJOTEZOzdewGTgJgduVuV9p877SrPjqbMHZVDftoOGtu0VSijDFUwG11DylQAmAxJ2ca065hC9Jb0iDsWmreAkmzJ+PlA9CVEeqx8DAAAAAElFTkSuQmCC);
  background-position: center;
  background-repeat: no-repeat;
}

.page-admin .form-actions {
  padding-top: 20px;
}

.layout-header,
.layout-main,
.layout-footer {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.layout-header:before, .layout-header:after,
.layout-main:before,
.layout-main:after,
.layout-footer:before,
.layout-footer:after {
  content: "";
  display: table;
}

.layout-header:after,
.layout-main:after,
.layout-footer:after {
  clear: both;
}

.layout-header:after,
.layout-main:after,
.layout-footer:after {
  content: " ";
  display: block;
  clear: both;
}

@media (min-width: 768px) {
  .two-sidebars .layout-content {
    width: 49.15254%;
    float: left;
    margin-left: 25.42373%;
    margin-right: -100%;
  }
  .two-sidebars .layout-sidebar-first {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
  .two-sidebars .layout-sidebar-second {
    width: 23.72881%;
    float: right;
    margin-right: 0;
  }
  .one-sidebar.has-sidebar-first .layout-content {
    width: 74.57627%;
    float: right;
    margin-right: 0;
  }
  .one-sidebar.has-sidebar-first .layout-sidebar-first {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
  .one-sidebar.has-sidebar-first .layout-sidebar-second {
    width: 23.72881%;
    float: right;
    margin-right: 0;
  }
  .one-sidebar.has-sidebar-second .layout-content {
    width: 74.57627%;
    float: left;
    margin-right: 1.69492%;
  }
  .one-sidebar.has-sidebar-second .layout-sidebar-second {
    width: 23.72881%;
    float: right;
    margin-right: 0;
  }
  .region-branding {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
  .region-navigation {
    width: 49.15254%;
    float: right;
    margin-right: 0;
  }
  .region-header {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
  .secondary-footer:before, .secondary-footer:after,
  .primary-footer:before,
  .primary-footer:after {
    content: "";
    display: table;
  }
  .secondary-footer:after,
  .primary-footer:after {
    clear: both;
  }
  .region-footera {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
  .region-footerb {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
  .region-footerc {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
}

img, media {
  max-width: 100%;
  height: auto;
}

table {
  width: 100%;
}

td, th {
  padding: 10px;
}

th {
  background-color: #f5f5f5;
}

tr.even, tr:nth-child(even) {
  background-color: #f5f5f5;
}

tr.odd, tr:nth-child(odd) {
  background-color: transparent;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  color: #333333;
}

a:link, a:visited {
  color: #428bca;
  text-decoration: none;
}

a:hover, a:focus {
  color: #C2531A;
}

a:active, a.active {
  color: #428bca;
}

p {
  margin-bottom: 1em;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

cite {
  font-style: italic;
}

code {
  font-family: monospace;
}

dl {
  margin: 1em 0;
}

dl dd {
  padding-left: 1em;
  margin-bottom: 1em;
}

h1 {
  color: #428bca;
  font-size: 2.5em;
  line-height: 1em;
  padding-bottom: 0.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1.15em;
}

h2, h3, h4, h5, h6 {
  color: #428bca;
  line-height: 1em;
  padding-bottom: 0.5em;
}

.element-invisible,
.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

.pager__items {
  clear: both;
  text-align: center;
}

.pager__item.is-active {
  font-weight: bold;
}

.pager__item {
  display: inline;
  padding: 0.5em;
}

body {
  background-color: #f5f5f5;
}

.breadcrumb {
  margin: 10px 20px;
  display: block;
  font-size: 0.8em;
}

.breadcrumb ol {
  display: block;
}

.breadcrumb ol li {
  display: inline-block;
}

.breadcrumb a {
  text-decoration: underline;
}

.breadcrumb a:link, .breadcrumb a:visited {
  color: #333333;
}

.breadcrumb a:hover, .breadcrumb a:focus {
  color: #428bca;
}

.breadcrumb a:active, .breadcrumb a.active {
  color: #428bca;
}

.tabs--primary-wrapper {
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  text-align: right;
}

.tabs--primary-toggle {
  display: inline-block;
  cursor: pointer;
  font-size: 0.8em;
  padding: 2px 10px;
}

.tabs--primary-toggle .icon {
  padding-right: 5px;
}

.tabs--primary-toggle.active .icon {
  color: red;
}

ul.tabs--primary {
  text-align: left;
  font-size: 0.8em;
  display: none;
  border-radius: 5px 0 5px 5px;
  margin: 0;
  padding: 0;
}

ul.tabs--primary.open {
  display: block;
}

ul.tabs--primary li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.tabs--primary li a {
  display: block;
  padding: 2px 10px;
}

ul.menu {
  margin: 0 10px;
}

ul.sf-main-menu {
  float: right;
}

ul.sf-main-menu li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
}

ul.sf-main-menu li a:link, ul.sf-main-menu li a:visited {
  color: #ffffff;
}

ul.sf-main-menu li a:hover, ul.sf-main-menu li a:focus {
  color: #428bca;
}

ul.sf-main-menu li a:active, ul.sf-main-menu li a.active {
  color: #428bca;
}

.layout-footer {
  padding: 20px 20px;
  background: #50B0C9;
  color: #428bca;
}

.layout-footer .region {
  padding-top: 10px;
  padding-bottom: 10px;
}

.layout-footer .container,
.layout-footer .secondary-footer {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.layout-footer .container:after,
.layout-footer .secondary-footer:after {
  content: " ";
  display: block;
  clear: both;
}

.layout-footer a:link, .layout-footer a:visited {
  color: #ffffff;
  text-decoration: none;
}

.layout-footer a:hover, .layout-footer a:focus {
  color: #d9534f;
}

.layout-footer a:active, .layout-footer a.active {
  color: #C2531A;
}

.layout-header {
  padding: 20px 20px;
  color: #428bca;
  background-color: #ffffff;
  position: relative;
}

.layout-header .container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.layout-header .container:after {
  content: " ";
  display: block;
  clear: both;
}

.layout-content {
  padding: 20px 20px;
}

.layout-content .region-content {
  position: relative;
}

.layout-secondary {
  padding: 40px 20px;
}

.layout-secondary .container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.layout-secondary .container:after {
  content: " ";
  display: block;
  clear: both;
}

/*# sourceMappingURL=style.css.map */
