@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
fieldset .form-text {
  width: 100%; }

.form-text {
  padding: 3px; }

.form-submit,
button,
.button,
.more {
  color: dkgray !important;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: none;
  font-size: 0.85em;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px 30px;
  margin-right: 5px;
  display: inline-block;
  border-radius: 0;
  background-clip: padding-box;
  background-color: #bca830; }
  .form-submit:link, .form-submit:visited,
  button:link,
  button:visited,
  .button:link,
  .button:visited,
  .more:link,
  .more:visited {
    background-color: #bca830; }
  .form-submit:hover, .form-submit:focus, .form-submit:active,
  button:hover,
  button:focus,
  button:active,
  .button:hover,
  .button:focus,
  .button:active,
  .more:hover,
  .more:focus,
  .more:active {
    background-color: #ccb739; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 4px 10px; }

a.tabledrag-handle {
  height: 22px;
  width: 20px;
  display: inline-block; }

a.tabledrag-handle .handle {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAaVBMVEUAAABERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERdclAKAAAAInRSTlMAAQIGBwkLDQ8QExQXIy5NUV9+hY+bwMHFyMrV5Ojx8/X7tyFtCQAAAHRJREFUCB1NwQcSgkAURMEHLqKE5ZOUrDv3P6SWUhTd/N3HGyfpqjXlEC2SlohD3qjJOTEZOzdewGTgJgduVuV9p877SrPjqbMHZVDftoOGtu0VSijDFUwG11DylQAmAxJ2ca065hC9Jb0iDsWmreAkmzJ+PlA9CVEeqx8DAAAAAElFTkSuQmCC);
  background-position: center;
  background-repeat: no-repeat; }

.page-admin .form-actions {
  padding-top: 20px; }

*,
*:before,
*:after {
  box-sizing: border-box; }

.l-header:before, .l-header:after,
.l-main:before,
.l-main:after,
.l-footer:before,
.l-footer:after {
  content: "";
  display: table; }

.l-header:after,
.l-main:after,
.l-footer:after {
  clear: both; }

@media (min-width: 768px) {
  .l-branding {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%; }
  .region-navigation {
    width: 49.15254%;
    float: right;
    margin-right: 0; }
  .region-header {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
  .l-subfooter:before, .l-subfooter:after {
    content: "";
    display: table; }
  .l-subfooter:after {
    clear: both; }
  .region-footer-a {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%; }
  .region-footer-b {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%; }
  .region-footer-c {
    width: 32.20339%;
    float: right;
    margin-right: 0; } }

img, media {
  max-width: 100%;
  height: auto; }

table {
  width: 100%; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  color: dkgray; }

h1 {
  color: #006341;
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1em; }

h2 {
  font-size: 2em;
  font-weight: 500; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.25em; }

h5, h6 {
  font-size: 1em; }

h2, h3, h4, h5, h6 {
  color: #006341;
  font: #006341;
  margin-bottom: 0.25em; }

body {
  background-color: #f5f5f5; }

.breadcrumb {
  margin: 10px 0;
  display: block;
  font-size: 0.8em; }
  .breadcrumb ol {
    display: block; }
    .breadcrumb ol li {
      display: inline-block; }
  .breadcrumb a {
    text-decoration: none; }
    .breadcrumb a:link, .breadcrumb a:visited {
      color: dkgray; }
    .breadcrumb a:hover, .breadcrumb a:focus {
      color: #0F7A96; }
    .breadcrumb a:active, .breadcrumb a.active {
      color: #0F7A96; }

.tabs--primary-wrapper {
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  text-align: right; }

.tabs--primary-toggle {
  display: inline-block;
  cursor: pointer;
  font-size: 0.8em;
  padding: 2px 10px; }
  .tabs--primary-toggle .icon {
    padding-right: 5px; }
  .tabs--primary-toggle.active .icon {
    color: red; }

ul.tabs--primary {
  text-align: left;
  font-size: 0.8em;
  display: none;
  border-radius: 5px 0 5px 5px;
  margin: 0;
  padding: 0; }
  ul.tabs--primary.open {
    display: block; }
  ul.tabs--primary li {
    list-style: none;
    padding: 0;
    margin: 0; }
    ul.tabs--primary li a {
      display: block;
      padding: 2px 10px; }

ul.menu {
  margin: 0 10px; }

ul.sf-main-menu {
  float: right; }
  ul.sf-main-menu li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none; }
    ul.sf-main-menu li a:link, ul.sf-main-menu li a:visited {
      color: #ffffff; }

#block-menu-menu-secondary {
  text-align: right; }
  #block-menu-menu-secondary ul.menu {
    list-style: none;
    display: inline-block;
    text-transform: uppercase; }
    #block-menu-menu-secondary ul.menu li {
      list-style: none; }
    #block-menu-menu-secondary ul.menu a {
      display: block;
      padding: 10px 15px;
      text-decoration: none;
      font-size: 0.9em; }
      #block-menu-menu-secondary ul.menu a:link, #block-menu-menu-secondary ul.menu a:visited {
        color: #ffffff; }

.l-footer {
  padding: 20px 20px;
  background: #50B0C9;
  color: #0F7A96; }
  .l-footer .region {
    padding-top: 10px;
    padding-bottom: 10px; }
  .l-footer .container,
  .l-footer .l-subfooter {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto; }
    .l-footer .container:after,
    .l-footer .l-subfooter:after {
      content: " ";
      display: block;
      clear: both; }
  .l-footer a:link, .l-footer a:visited {
    color: #ffffff;
    text-decoration: none; }
  .l-footer a:hover, .l-footer a:focus {
    color: #b61f28; }
  .l-footer a:active, .l-footer a.active {
    color: #C2531A; }

.l-header {
  padding: 20px 20px;
  background-size: cover;
  color: #0F7A96;
  position: relative; }
  .l-header .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto; }
    .l-header .container:after {
      content: " ";
      display: block;
      clear: both; }

.l-main {
  padding: 20px 20px; }
  .l-main .l-content {
    position: relative; }

.l-secondary {
  padding: 40px 20px; }
  .l-secondary .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto; }
    .l-secondary .container:after {
      content: " ";
      display: block;
      clear: both; }

/*# sourceMappingURL=style.css.map */
