// ------------------------------------
// Brand Colors.
// ------------------------------------
$brand_blue: #0F7A96;


// ------------------------------------
// Generic Colors.
// ------------------------------------
$color_green: #006341;
$color_red: #b61f28;
$color_blue: #0F7A96;
$color_ltblue: #50B0C9;
$color_orange: #C2531A;


// ------------------------------------
// Generic Neutral Colors.
// ------------------------------------
$color_black: #000;
$color_white: #ffffff;
$color_smoke: #f5f5f5;

$color_ltgray: #eee;
$color_mdgray: #777;
$color_gray: #555;
$color_dkgray: #333333;



