// ------------------------------------
// Brand Colors.
// ------------------------------------



// ------------------------------------
// Generic Colors.
// ------------------------------------
$color_red: #d9534f;
$color_orange: #C2531A;
$color_yellow: #f0ad4e;
$color_green: #5cb85c;
$color_blue: #428bca;
$color_indigo: #5bc0de;
$color_violet: #563d7c;

$color_ltblue: #50B0C9;




// ------------------------------------
// Generic Neutral Colors.
// ------------------------------------
$color_black: #000;
$color_white: #ffffff;
$color_smoke: #f5f5f5;

$color_ltgray: #eee;
$color_mdgray: #777;
$color_gray: #555;
$color_dkgray: #333333;
