// ------------------------------------
// Gloabl Vars.
// ------------------------------------

// Body/HTML Settings.
// ------------------------------------

// Default font.
$body_font: 'Open Sans', sans-serif;
// Base or root font-size.
$body_fontsize: 16px;
// Base line height.
$body_lineheight: 1.5em;
// Default font color.
$body_fontcolor: $color_dkgray;
// Page background color.
$body_bg_color: $color_smoke;


// Titles and Headings.
// ------------------------------------

// defaulting to body font.
$title_font: null;
// This is for the H1.
$title_fontcolor: $color_blue;
// This is for the rest of the headings.
$heading_font: $title_font;
// This is for the rest of the headings.
$heading_fontcolor: $title_fontcolor;


// Butons.
// ------------------------------------

// Main button color.
$button_bg_color: $color_blue;
// Text color of the button.
$button_fontcolor: #fff;
// Roundness of the button.
$button_radius: 0;


// Gloabl link styles (mostly in the main body of text).
// ------------------------------------

// Default link color.
$link: $color_blue;
// Default link hover.
$link_hover: $color_orange;
// Default link active and focus color.
$link_active: $color_blue;


// Footer Links.
// ------------------------------------

// Footer link color.
$footer_link: #ffffff;
// Footer link hover.
$footer_link_hover: $color_red;
// Footer link color.
$footer_link_active: $color_orange;


// Main menu link colors.
// ------------------------------------

// Primary navigation color.
$menu: #ffffff;
// Primary navigation hover.
$menu_hover: $color_blue;
// Primary navigation active and focus color.
$menu_active: $menu_hover;


// Primary naviation bg colors and font settings.
// ------------------------------------
// Primary navigation background.
$menu_bg: transparent;
// Primary navigation hover background.
$menu_bg_hover: $color_green;
// Primary navigation active and focus background.
$menu_bg_active: $menu_bg_hover;
// Font used for primary navigation.
$menu_font: null ;
// Font weight for primary navigation.
$menu_font_weight: 400;


// Layout and Structural Vars.
// ------------------------------------
$header_bg:	#ffffff;
$header_font: null;
$header_fontcolor: $color_blue;

$vspace: 20px; // Vertical spacing unit.
$hspace: 20px; // Horizontal spacing unit.

$main_bg: null; // The main content aera.

// ------------------------------------
$footer_color: $color_blue; // Font color.
$footer_bg: $color_ltgray; // Background color.
$footer_size: 0.8em; // Text size.


// Tables.
// ------------------------------------
$table_cell_padding: 10px;
$row_even: $color_smoke; // Table even row styles
$row_odd: transparent; // Table odd row styles
$table_header: $row_even; // Table header row styles


// Local tasks and Tabs.
// ------------------------------------
$tabs_primary_text: $color_secondary;
$tabs_primary_text_hover: $color_secondary;
$tabs_primary_text_active: $color_secondary;

$tabs_primary_bg: transparent;
$tabs_primary_bg_hover: $color_smoke;
$tabs_primary_bg_active: mix($color_secondary, $color_white, 20%);


// Misc stuff.
// ------------------------------------
$border_color: $color_gray; // Gloabl border color.
