.tabs--primary-wrapper {
	position: absolute;
	z-index: 99;
	top: 0;
	right: 0;
	text-align: right;
}
.tabs--primary-toggle {
	display: inline-block;
	cursor: pointer;
	font-size: 0.8em;
	padding: 2px 10px;

	.icon {
		padding-right: 5px;
	}
	&.active .icon {
		color: red;
	}
}
ul.tabs--primary {
	text-align: left;
	font-size: 0.8em;
	display: none;
  border-radius:5px 0 5px 5px;

	&.open {
		display: block;
	}

	margin: 0;
	padding: 0;
	li {
		list-style: none;
		padding: 0;
		margin: 0;

		a {
			display: block;
			padding: 2px 10px;
		}
	}
}
