.l-footer {
  padding: $vspace $hspace;
  background: $footer_bg;
  color: $footer_color;

  .region {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .container,
  .l-subfooter {
    @include container;
  }

  a {
    @include linkme($footer_link, $footer_link_hover, $footer_link_active);
  }
}
