label {
	font-weight: bold;
	display: block;
}

.form-type-checkbox label,
.form-type-radio label {
	font-weight: normal;
	display: inline-block;
}

.form-item .description {
	font-style: italic;
}

.form-item {
	margin-bottom: 1em;
}

.form-item .form-item  {
	margin-bottom: 0;
}
.container-inline div,
.container-inline label {
	display: inline;
}

legend {
	font-weight: bold;
}

fieldset {}

fieldset .form-text { width: 100%; }

input, textarea {}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 4px 10px;
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
    margin-right: 0.3em;
}

input[type="search"] {
    -webkit-appearance: none;
    border-radius: 0;
}

.form-text, .form-textarea {
	border: 1px solid $border_color;
	padding: 4px;
}

button,
.form-submit,
.button,
.nested-button a {
	@include button;
}

// Fixing table draggers.
a.tabledrag-handle {
	height: 22px;
	width: 20px;
	display: inline-block;
}
a.tabledrag-handle .handle {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAaVBMVEUAAABERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERdclAKAAAAInRSTlMAAQIGBwkLDQ8QExQXIy5NUV9+hY+bwMHFyMrV5Ojx8/X7tyFtCQAAAHRJREFUCB1NwQcSgkAURMEHLqKE5ZOUrDv3P6SWUhTd/N3HGyfpqjXlEC2SlohD3qjJOTEZOzdewGTgJgduVuV9p877SrPjqbMHZVDftoOGtu0VSijDFUwG11DylQAmAxJ2ca065hC9Jb0iDsWmreAkmzJ+PlA9CVEeqx8DAAAAAElFTkSuQmCC);
	background-position: center;
	background-repeat: no-repeat;
}

.page-admin .form-actions {
	padding-top: $vspace;
}
